body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
}

p{
    font-family:Arial;
    font-size:13px;
    color:#565656;
}

.header{
    position:relative;
    margin-top:.65rem;
}

a{
    text-decoration:none;
}
#menu {    
    width:17px;
    height:17px;
    background-image: url('menu.jpg');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    opacity:.5;
    margin:auto;
}

#menu:hover{
    opacity:1;
}

ul{
    margin:0;
    padding:0;  
}

li{
    list-style-type:none;
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}


li:hover{
    text-decoration:underline;

}

ul li{
    vertical-align:middle;
}

button{
    height:30px;
    border-radius:8%;
    border:none;
    background-color:#4285F4;
    color:white;  
}

button p{
    margin:auto;
    font-weight: bold;
    padding-left: 12px;
    padding-right:12px;
    color:white;
}

.left{
    position:relative;
    float:left;
    padding-left:.5rem;
}

.right{
    position:relative;
    float:right;
    padding-right:.5rem;
}

.container{
    position:relative;

}
.center{
    display:block;
    margin:auto;

    text-align: center;
}

.container img{
    margin-top:12rem;
}
.footer{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    background-color:#F2F2F2;
    overflow:auto;
}

.searchbox{
    width:575px;
    height:35px;
    margin:auto;
    margin-bottom: 7%;
    border: 1px solid #e8e8e8;
    border-radius:2px;
    box-shadow: 2px 5px 7px #e4e4e4;
}
.searchbox:hover{
    box-shadow: 2px 5px 5px #c7c7c7;
}
.searchbox input {
    border:none;
    width:100%;
    height:98%;
    font-size:18px;

}
#white{
    height:10px;
    background-color:white;
}